<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CryptoCompare</title>
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="js/define.js"></script>
    <script src="js/api.js"></script>

    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="title">Crypto Compare</div>
<div id="app" class="content hidden">
    <table class="coin_list">
        <thead>
        <tr>
            <td>Name</td>
            <td>Symbol</td>
            <td>Price (USD)</td>
            <td>Mkt. Cap.</td>
            <td>Chg. 24H</td>
        </thead>
        <tbody>
        <tr v-cloak v-for="coin in coins">
            <td>
                <div class="coin_info">
                    <div class="coin_logo"  v-bind:style="getCoinImage(coin.CoinInfo.ImageUrl)"></div>
                    <div class="coin_name">
                        <a  v-bind:href="getCoinUrl(coin.CoinInfo.Url)">{{ coin.CoinInfo.FullName }}</a>
                        <span>{{ coin.CoinInfo.Internal }}</span>
                    </div>
                </div>
            </td>
            <td>{{ coin.CoinInfo.Internal }}</td>
            <td>{{ coin.DISPLAY.USD.PRICE }}</td>
            <td>{{ coin.DISPLAY.USD.MKTCAP }}</td>
            <td v-bind:style="getColor(coin.DISPLAY.USD.CHANGEPCT24HOUR)">
                <span v-if="coin.DISPLAY.USD.CHANGEPCT24HOUR > 0">+</span>{{  coin.DISPLAY.USD.CHANGEPCT24HOUR }} %
            </td>
        </tr>
        </tbody>
    </table>
    <div  v-if="coins.length == undefined" class="preloader_wrap"><img class="preloader" src="image/preloader.svg"></div>
</div>

<script src="js/app.js"></script>
</body>
</html>